<div class="row">
  <h1 class="map-title">バイトテック（Arebeit Tech）カオスマップ 2019</h1>
</div>

<div class="row">
  <div class="col-xs-6 top-left-box">
  	<div class="largecategory-box clearfix">
  	  <div class="largecategory-name">採用</div>
  	    <div class="smallcategory-box">
  	      <div class="smallcategory-name">採用管理</div>
  	        <div class="company-box">
             <img src="/assets/img/hito_manager.png" alt="" width="250">
            </div>
  	        <div class="company-box">
             <img src="/assets/img/rec_op.png" alt="" width="250">
            </div>
  	    </div>
        <div class="smallcategory-box">
          <div class="smallcategory-name">求人媒体（長期）</div>
            <div class="company-box">
             <img src="/assets/img/e-idem.png" alt="" width="250">
            </div>
            <div class="company-box">
             <img src="/assets/img/mynavi_part.jpg" alt="" width="250">
            </div>
        </div>
  	</div>
  </div>

  <div class="col-xs-6 top-right-box">
    <div class="largecategory-box clearfix">
      <div class="largecategory-name">管理</div>
        <div class="smallcategory-box">
          <div class="smallcategory-name">シフト・勤怠管理</div>
            <div class="company-box">
             <img src="/assets/img/AirSHIFT.png" alt="" width="250">
            </div>
            <div class="company-box">
             <img src="/assets/img/jobkan.jpg" alt="" width="250">
            </div>
        </div>
        <div class="smallcategory-box">
          <div class="smallcategory-name">コミュニケーション</div>
            <div class="company-box">
             <img src="/assets/img/LINEWORKSlogo.jpg" alt="" width="250">
            </div>
            <div class="company-box">
             <img src="/assets/img/logo_talknote.png" alt="" width="250">
            </div>
        </div>
    </div>
  </div>

</div>