/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
 width: 100%;
 height: 70px;
 background-color: #EC715F;
}

.header-middle {
 width: 1024px;
 height: 70px;
 margin: 0 auto;
}

.nav-list {
 float: right;
}

.nav-list-item {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #FAFAFA;
  display: inline-block;
  padding-left: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  background-color: #808080;
  // height: 1200px;
}

.row {
  // height: 500px;
  background-color: #ECEFF1;
}

footer {
 width: 100%;
 height: 60px;
 background-color: #EC715F;
 font-size: 16px;
 color: #FAFAFA;
 line-height: 60px;
 text-align: center;
}

